
body {
  text-align: center;
  padding: 200px;
  font-family: cursive;
}

#btn {
  font-family: cursive;
  font-size: 24px;
  padding: 14px 40px;
  border-radius: 20px;
  cursor: pointer;
}

#btn {
    transition-duration: 0.4s;
}
#btn:hover {
    background-color: #04AA6D; /* Green */
    color: white;
  }
